<div class="container">
  <h1>Charlotte International Rotary Club</h1>
  <h3>Rotary District 7680: Clubs around Charlotte for make-up opportunities</h3>

  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey lighten-4">
        <div class="card-content">
          <span class="card-title center"><h3>Monday</h3></span>
          <div class="row">
            <div class="col s12 m6">
              <p><b>Top-of-the-Week</b><br>
                Monday, 7:30am<br>
                Taste Restaurant<br>
                100 North Tryon St. Founder’s Hall<br></p>
            </div>
            <div class="col s12 m6">
              <p><b>Matthews</b><br>
              Monday, 12:30pm<br>
              Levine Center<br>
              1050 DeVore Lane, Matthews<br>
              <a href="https://www.matthewsrotary.org">www.matthewsrotary.org</a></p>
            </div>
          </div>
            <div class="row">
              <div class="col s12 m6">
                <p><b>Charlotte-North</b><br>
                  Monday, 12:30pm<br>
                  Byron’s-South End, 101 W. Worthington Ave. at Camden Road<br>
                  <a href="https://www.charlottenorthrotaryclub.org">www.charlottenorthrotaryclub.org</a></p>
                </div>
                <div class="col s12 m6">
                  <p><b>Charlotte South</b><br>
                  12:30pm, Zebra Restaurant, 4521 Sharon Road, across from Southpark Mall<br>
                  <a href="http://www.charlottesouthrotary.com">www.charlottesouthrotary.com</a></p>
                </div>
              </div>
              </div>
           </div>
        </div>
     </div>
   <div class="row">
     <div class="col s12 m12">
       <div class="card blue-grey lighten-4">
         <div class="card-content">
           <span class="card-title center"><h3>Tuesday</h3></span>
           <div class="row">
             <div class="col s12 m6">
               <p><b>University City</b><br>
                Tuesday, 7:30am<br>
                Hilton Charlotte University City<br>
                8629 JM Keynes Drive, Charlotte, NC<br>
                <a href="https://www.ucrotary.com">www.ucrotary.com</a>
              </p>
              </div>
              <div class="col s12 m6">
                <p><b>Monroe</b><br>
                Tuesday, 12:00pm<br>
                Rolling Hills Country Club, 2722 West Roosevelt Blvd (Hwy 74), Monroe<br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6">
                 <p><b>Charlotte</b><br>
                  Tuesday, 12:30pm<br>
                  Fairfield Inn, Suites<br>
                  201, S. McDowell St</p>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Wednesday</h3></span>
            <div class="row">
              <div class="col s12 m6">
                <p>Charlotte SouthPark<br>
                  Wednesday, 7:30am<br>
                  Doubletree Guest Suites<br>
                  6300 Morrison Blvd<br>
                  Monroe-Union Breakfast<br>
                  Wednesday, 7:30am<br>
                  Golden Corral<br>
                  2507 W Roosevelt Blvd (Hwy 74), Monroe (near Wal-Mart) <br>
                </p>
              </div>
              <div class="col s12 m6">
                <p><b>North Mecklenburg</b><br>
                  Wednesday, 12:15pm<br>
                  The Peninsula Club, 19101 Peninsula Club Dr, Cornelius<br>
                </p>
                <p>Charlotte West<br>
                Wednesday, 12:30pm<br>
                Morehead Inn, 1122 East Morehead St.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Thursday</h3></span>
            <div class="row">
              <div class="col s12 m6">
                <p><b>Lake Norman/Huntersville</b><br>
                  Thursday, 7:30am<br>
                  Northstone Club, 15801 Northstone Dr., Huntersville<br>
                  Union West: 7:30am, Indian Trail Civic Building, (behind Town Hall)<br>
                </p>
              </div>
              <div class="col s12 m6">
                <p><b>Waxhaw-Weddington</b><br>
                  Thursday, 7:30am<br>
                  CMC-Waxhaw Medical Pavilion<br>
                  2700  Providence Road<br>
                </p>
              </div>
              <p><b>Charlotte Providence</b><br>
                Thursday, 12:30pm<br>
                Red Rocks Cafe<br>
                Strawberry Hill Shopping Center<br>
                4223 Providence Rd.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Friday</h3></span>
            <p><b>Mecklenburg-South</b><br>
              Friday, 7:30am<br>
              Another Broken Egg Restaurant<br>
              11324 N Community house Rd<br>
              <b>Ballantyne</b><br>
              Friday 12:30pm<br>
              Ballantyne Country Club, 1120 Ballantyne Crossing Ave.<br>
              Charlotte Dilworth/South End<br>
              Friday, 12:15pm<br>
              Dilworth Neighborhood Grill, 911 East Morehead St.
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey lighten-4">
            <div class="card-content">
              <span class="card-title center"><h3>Saturday</h3></span>
              <p><b>Charlotte End of the Week</b><br>
                Saturday, 10am<br>
                Myers Park United Methodist Church<br>
                1501 Queens Road, Charlotte, NC<br>
              <a href="https://www.cltendoftheweekrotary.org">www.cltendoftheweekrotary.org</a>
              </p>
         </div>
      </div>
   </div>
</div>
<div class="row">
     <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
           <div class="card-content">
              <span class="card-title center"><h3>Online Make Up Meetings</h3></span>
              <p>You can “attend” an online make-up meeting at <a href="https://www.rotaryeclubone.com">www.rotaryeclubone.com</a></p>
           </div>
        </div>
     </div>
  </div>
</div>
