<div class="container">
<h1>Charlotte International Rotary Club</h1>
<h3>Rotary District 7680: Clubs around Charlotte for make-up opportunities</h3>

<div class="row">
     <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
           <div class="card-content">
              <span class="card-title center"><h3>Monday</h3></span>
              <p>Top-of-the-Week: 7:30am, Taste Restaurant, 100 North Tryon St, Founder’s Hall<br>
              Matthews: 12:30pm, Levine Center, 1050 DeVore Lane, Matthews
              Charlotte-North: 12:30pm, Byron’s-South End, 101 W. Worthington Ave. at Camden Road<br>
              Charlotte South: 12:30pm, Zebra Restaurant, 4521 Sharon Road, across from Southpark Mall</p>
           </div>
        </div>
     </div>
   </div>

   <div class="row">
     <div class="col s12 m12">
       <div class="card blue-grey lighten-4">
         <div class="card-content">
           <span class="card-title center"><h3>Tuesday</h3></span>
           <p>University City: 7:30am, University Hilton Hotel<br>
             Monroe: 12:00pm, Rolling Hills Country Club, 2722 West Roosevelt Blvd (Hwy 74), Monroe<br>
             Charlotte: 12:30pm, Fairfield Inn, Suites 201, S. McDowell St</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Wednesday</h3></span>
            <p>Charlotte SouthPark: 7:30am, Doubletree Guest Suites, 6300 Morrison Blvd<br>
            Monroe-Union Breakfast: 7:30am, Golden Corral, 2507 W Roosevelt Blvd (Hwy 74), Monroe, near Wal-Mart <br>
            North Mecklenburg: 12:15pm, The Peninsula Club, 19101 Peninsula Club Dr, Cornelius<br>
            Charlotte West: 12:30pm, Morehead Inn, 1122 East Morehead St.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Thursday</h3></span>
            <p>Lake Norman/Huntersville: 7:30am, Northstone Club, 15801 Northstone Dr., Huntersville<br>
            Union West: 7:30am, Indian Trail Civic Building, (behind Town Hall)<br>
            Waxhaw-Weddington: 7:30am, CMC-Waxhaw Medical Pavilion, 2700 Providence Road<br>
            Charlotte Providence: 12:30pm, Red Rocks Cafe, Strawberry Hill Shopping Center, 4223 Providence Rd.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
          <div class="card-content">
            <span class="card-title center"><h3>Friday</h3></span>
            <p>Mecklenburg-South: 7:30am, Another Broken Egg Restaurant, 11324 N Community house Rd<br>
              Ballantyne: 12:30pm, Ballantyne Country Club, 1120 Ballantyne Crossing Ave.<br>
              Charlotte Dilworth/South End: 12:15pm, Dilworth Neighborhood Grill, 911 East Morehead St.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey lighten-4">
            <div class="card-content">
              <span class="card-title center"><h3>Saturday</h3></span>
              <p>Charlotte End of the Week: Myers Park United Methodist Church</p>
         </div>
      </div>
   </div>
</div>
<div class="row">
     <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
           <div class="card-content">
              <span class="card-title center"><h3>Online Make Up Meetings</h3></span>
              <p>You can “attend” an online make-up meeting at <a href="https://www.rotaryeclubone.com">www.rotaryeclubone.com</a></p>
           </div>
        </div>
     </div>
  </div>
</div>
