<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Charlotte International Rotary</h1>
      <div class="row center">
        <h5 class="header col s12 light">Rotary Serving Humanity.
        </h5>
      </div>
      <br><br>
    </div>
  </div>
  <script script type="text/javascript">
    $('.parallax').parallax();
  </script>
  <div class="parallax"><%= image_tag("deter.jpg") %>
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">trending_up</i></h2>
          <h5 class="center">Weekly Meetings</h5>
          <p class="light">We have weekly meetings on Mondays.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Special Events</h5>
          <p class="light">We have a gala every year.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">The Rotary Four-Way Test</h5>
          <p class="light">The Rotary Four-Way Test of Things We Think, Say, or Do.
            <ol>
              <li>Is it the truth?</li>
              <li>Is it fair to all concerned?</li>
              <li>Will it build goodwill and better friendships?</li>
              <li>Will it be beneficial to all concerned?</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag("background3.jpg") %></div>
</div>

<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Charlotte International Rotary Cl</h5>
        <p class="grey-text text-lighten-4"> The mission of Rotary Internatinoal is to create Culture understandings, bring awareness to international causes, and develop personal and professional relationships.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 <a class="grey-text text-lighten-3" href="http://www.meaghanjones.com">Meaghan Jones</a>
    </div>
  </div>
</footer>
