<div class="container">
  <h1>Upcoming Club Meetings</h1>

    <% @events.each do |event| %>
      <ul>
        <li>Speaker name: <%= event.speaker_name %></li>
        <li>Speaker bio: </li>
        <li>Speech topic:</li>
        <li>Date and time: </li>
        <li>Location: </li>
      </ul>
    <% end %>

</div>
